// this is just a normal JS file
// the exports should simply define some or all of the following
module.exports =  { nick: 'tecnorita'
                  , server: 'irc.quakenet.org:6667'
                  , channels: [ '#chat'
                              , '#private password' // for channels with +k
                              ]
                  , admins: [ 'user!~name@host.com' ]
                  , redis: 'localhost:6379'
                  }
